@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title + " - archiwizuj";
    Layout = "_DashboardLayout";
}
@section BreadcrumbItem {
    <li class="breadcrumb-item active">@Model.Title</li>
}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-calendar-minus"></i> Usuwanie wydarzenia o nazwie: @Model.Title
            </div>
            <div class="card-body">
                <dl class="dl-horizontal row">
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
                    <dd class="col-sm-4">@Model.Title</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Organizaer)</dt>
                    <dd class="col-sm-4">@Model.Organizaer</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Date)</dt>
                    <dd class="col-sm-4">@Model.Date</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Place)</dt>
                    <dd class="col-sm-4">@Model.Place</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastDayOfEntries)</dt>
                    <dd class="col-sm-4">@Model.LastDayOfEntries</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.RegistrationMail)</dt>
                    <dd class="col-sm-4">@Model.RegistrationMail</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AddingPerson)</dt>
                    <dd class="col-sm-4">@Model.AddingPerson.StopienInstruktorski @Model.AddingPerson.FristName @Model.AddingPerson.LastName</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.ConfirmingPerson)</dt>
                    <dd class="col-sm-4">@Model.ConfirmingPerson.StopienInstruktorski @Model.ConfirmingPerson.FristName @Model.ConfirmingPerson.LastName</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Description)</dt>
                    <dd class="col-sm-10">@Model.Description</dd>
                </dl>
            </div>
            <div class="card-footer text-muted">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Archiwizacja" class="btn btn-pill  btn-outline-dark" />
                    <a asp-action="Index" class="btn btn-pill  btn-outline-secondary" role="button">Powrót do listy wydarzeń</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-dark">
            <div class="card-header">Usuwanie wydarzeń</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
