@using ZHPEvents.Core.Entities
@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title + " - szczegóły";
    Layout = "_DashboardLayout";
}
@section BreadcrumbItem {
    <li class="breadcrumb-item active">@Model.Title</li>
}
<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-calendar-minus"></i> Szczegóły wydarzenia o nazwie: @Model.Title
            </div>
            <div class="card-body">
                <dl class="dl-horizontal row">
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
                    <dd class="col-sm-4">@Model.Title</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Organizaer)</dt>
                    <dd class="col-sm-4">@Model.Organizaer</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Date)</dt>
                    <dd class="col-sm-4">@Model.Date</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Place)</dt>
                    <dd class="col-sm-4">@Model.Place</dd>

                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastDayOfEntries)</dt>
                    <dd class="col-sm-4">@Model.LastDayOfEntries</dd>
                    <dt class="col-sm-2">@Html.DisplayNameFor(model => model.RegistrationMail)</dt>
                    <dd class="col-sm-4">@Model.RegistrationMail</dd>

                    <dt class="col-sm-2">Osoba dodająca</dt>
                    <dd class="col-sm-4">@Model.AddingPerson.StopienInstruktorski @Model.AddingPerson.FristName @Model.AddingPerson.LastName</dd>
                    <dt class="col-sm-2">Osoba potwierdzająca</dt>
                    <dd class="col-sm-4">@Model.ConfirmingPerson.StopienInstruktorski @Model.ConfirmingPerson.FristName @Model.ConfirmingPerson.LastName</dd>

                    <dt class="col-sm-2">Opis wydarzenia</dt>
                    <dd class="col-sm-10">@Model.Description</dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd class="col-sm-9">
                        @if (Model.Status == ZHPEvents.Core.Entities.EventStatus.Approved)
                        {
                            <span class="badge badge-pill badge-success">@Html.DisplayFor(model => model.Status)</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-secondary">@Html.DisplayFor(model => model.Status)</span>
                        }
                    </dd>

                </dl>

                <div class="row">
                    <div class="col-md">
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs card-header-tabs">
                                    <li class="nav-item " data-toggle="tooltip" data-placement="top" title="Informacje">
                                        <a class="nav-link nav-link-event active" data-toggle="tab" href=@("#home"+Model.Id) role="tab" aria-controls="home" aria-selected="true">
                                            &nbsp;&nbsp;<i class="fas fa-info-circle"></i>&nbsp;&nbsp;
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Opis">
                                        <a class="nav-link nav-link-event" data-toggle="tab" href=@("#profile"+Model.Id) role="tab" aria-controls="profile" aria-selected="false">
                                            &nbsp;&nbsp;<i class="fas fa-align-left"></i>&nbsp;&nbsp;
                                        </a>
                                    </li>
                                    <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Zoabcz więcej">
                                        <a class="nav-link nav-link-event" data-toggle="tab" href=@("#messages"+Model.Id) role="tab" aria-controls="messages" aria-selected="false">
                                            &nbsp;&nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;
                                        </a>
                                    </li>
                                    <li class="nav-item disabled" data-toggle="tooltip" data-placement="top" title="Czytaj więcej">
                                        <a asp-controller="Home" asp-action="Event" asp-route-id="@Model.Id" class="nav-link nav-link-event ">
                                            &nbsp;&nbsp;<i class="fas fa-ellipsis-h"></i>&nbsp;&nbsp;
                                        </a>
                                    </li>
                                    <li class="nav-item disabled" data-toggle="tooltip" data-placement="top" title="Edytuj">
                                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link nav-link-event disabled">
                                            &nbsp;&nbsp;<i class="fas fa-edit"></i>&nbsp;&nbsp;
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body-event  event">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="@("home"+Model.Id)" role="tabpanel">
                                        <strong class=" mb-2 text-green">@Model.Type > @Model.Category</strong>
                                        <h4 class="mb-0">
                                            <a class="text-dark" href="#">@Model.Title</a>
                                        </h4>
                                        <div class="mb-1 text-muted">Data publikacji: @Model.AdditionTime.Date.ToString("dd.mm.yyyy")</div>
                                        <div class="mb-1 text-muted">Data wydarzenia: @Model.Date.Date.ToString("dd.mm.yyyy")</div>
                                        <div class="mb-1 text-muted">Mijesce wydarzenia: @Model.Place</div>
                                        <div class="mb-1 text-muted">Zapisy do: @Model.LastDayOfEntries.Date.ToString("dd.mm.yyyy")</div>
                                    </div>
                                    <div class="tab-pane" id=@("profile"+Model.Id) role="tabpanel">
                                        @Model.Description
                                    </div>
                                    <div class="tab-pane" id=@("messages"+Model.Id) role="tabpanel">
                                        <div class="mb-1 text-muted">Autor: @Model.AddingPerson.StopienInstruktorski @Model.AddingPerson.FristName @Model.AddingPerson.LastName</div>
                                        <div class="mb-1 text-muted">Kontakt: @Model.Contact</div>
                                        <div class="mb-1 text-muted">Rejestracja: @Model.RegistrationMail</div>
                                        <div class="mb-1 text-muted">Organizator: @Model.Organizaer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-6">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-pill  btn-block btn-outline-info" role="button">Edytuj wydarzenie</a>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-pill  btn-block btn-outline-secondary" role="button">Lista wydarzeń</a>
                            </div>
                        </div>
                        <br /><br /><br />
                        @{
                            var rejectedDisabled = (Model.Status == EventStatus.Rejected) ? "disabled" : "";
                            var approvedDisabled = (Model.Status == EventStatus.Approved) ? "disabled" : "";
                        }
                        <div class="row">
                            <div class="col-6">
                                <form asp-action="Details">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" class="custom-control-input" id="Status" name="Status" value="false">
                                    <button type="submit" class="btn btn-pill  btn-block btn-outline-secondary" @rejectedDisabled>Odrzuć wydarzenie</button>
                                </form>
                            </div>
                            <div class="col-6">
                                <form asp-action="Details">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" class="custom-control-input" id="Status" name="Status" value="true">
                                    <button type="submit" class="btn btn-pill  btn-block btn-outline-success" @approvedDisabled>Zatwierdź wydarzenie</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-info">
            <div class="card-header">Szczegóły wydarzeń</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
