@using ZHPEvents.Core.Entities
@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title + " - szczegóły";
    Layout = "_Dashboard";
}

<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-calendar-minus"></i> Szczegóły wydarzenia o nazwie: @Model.Title
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt> </dt>
                    <dd class="col-sm-12">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.Title)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.AdditionTime)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.AdditionTime)
                            </dd>
                        </dl>
                    </dd>

                    <dd class="col-sm-12">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.AddingPerson)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.AddingPerson)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ConfirmingPerson)
                            </dt>
                            <dd class="col-sm-4">
                                @Html.DisplayFor(model => model.ConfirmingPerson)
                            </dd>
                        </dl>
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.AddingPerson)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.AddingPerson)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ConfirmingPerson)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ConfirmingPerson)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd class="col-sm-9">
                        @if (Model.Status == ZHPEvents.Core.Entities.EventStatus.Approved)
                        {
                            <span class="badge badge-pill badge-success">@Html.DisplayFor(model => model.Status)</span>
                        }
                        else
                        {
                            <span class="badge badge-pill badge-secondary">@Html.DisplayFor(model => model.Status)</span>
                        }
                    </dd>

                </dl>

                <div class="row">
                    <div class="col-md">
                        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-2 text-primary">Kategoria</strong>
                                <h3 class="mb-0">
                                    <a class="text-dark" href="#">
                                        @Html.DisplayFor(model => model.Title)
                                    </a>
                                </h3>
                                <div class="mb-1 text-muted">
                                    @Model.AdditionTime.Date.ToString("dd.mm.yyyy")
                                </div>
                                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-pill  btn-sm btn-outline-secondary">Zobacz</button>
                                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-pill  btn-sm btn-outline-secondary" role="button">Edytuj</a>

                                    </div>
                                </div>
                            </div>
                            <img class="card-img-right flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-6">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-pill  btn-block btn-outline-info" role="button">Edytuj wydarzenie</a>
                            </div>
                            <div class="col-6">
                                <a asp-action="Index" class="btn btn-pill  btn-block btn-outline-secondary" role="button">Lista wydarzeń</a>
                            </div>
                        </div>
                        <br /><br /><br />
                        @{
                            var rejectedDisabled = (Model.Status == EventStatus.Rejected) ? "disabled" : "";
                            var approvedDisabled = (Model.Status == EventStatus.Approved) ? "disabled" : "";
                        }
                        <div class="row">
                            <div class="col-6">
                                <form asp-action="Details">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" class="custom-control-input" id="Status" name="Status" value="false">
                                    <button type="submit" class="btn btn-pill  btn-block btn-outline-secondary" @rejectedDisabled>Odrzuć wydarzenie</button>
                                </form>
                            </div>
                            <div class="col-6">
                                <form asp-action="Details">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" class="custom-control-input" id="Status" name="Status" value="true">
                                    <button type="submit" class="btn btn-pill  btn-block btn-outline-success" @approvedDisabled>Zatwierdź wydarzenie</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
        <div class="card text-white bg-info">
            <div class="card-header">Szczegóły wydarzeń</div>
            <div class="card-body">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                ex ea commodo consequat.
            </div>
        </div>
    </div>
</div>
