@using Microsoft.AspNetCore.Identity
@using ZHPEvents.Core.Identity

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model ZHPEvents.Core.Entities.Event

@{
    ViewData["Title"] = Model.Title;
    var user = await UserManager.GetUserAsync(User);
}
@section FilterMenu {
    <span>
        &nbsp;&nbsp; &nbsp;&nbsp;
    </span>
}
<br />
<div class="container">
    <div class="card">
        <div class="card-body">
            <p class="card-text"><small class="text-muted">@Model.Type > @Model.Category</small><small class="text-muted float-right">@Model.AdditionTime.Date.ToString("dd.mm.yyyy")</small></p>
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text"></p>
            <p class="card-text">@Model.Description</p>
            <dl class="row">
                <dt class="col-sm-2">Autor</dt>
                <dd class="col-sm-4">@Model.AddingPerson.StopienInstruktorski @Model.AddingPerson.FristName @Model.AddingPerson.LastName</dd>
                <dt class="col-sm-2">Organizator</dt>
                <dd class="col-sm-4">@Model.Organizaer</dd>

                <dt class="col-sm-2">Data wydarzenia</dt>
                <dd class="col-sm-4">@Model.Date</dd>
                <dt class="col-sm-2">Miejsce wydarzenia</dt>
                <dd class="col-sm-4">@Model.Place</dd>

                <dt class="col-sm-2">Data zapisów</dt>
                <dd class="col-sm-4">@Model.LastDayOfEntries</dd>
                <dt class="col-sm-2">Zapisy</dt>
                <dd class="col-sm-4">@Model.RegistrationMail</dd>
            </dl>
        </div>
        <div class="card-footer text-muted">
            <div class="d-flex justify-content-center align-items-center">
                <div class="btn-group">
                    <a asp-action="Events" class="btn btn-pill  btn-sm btn-outline-secondary" role="button">Powrót do listy</a>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("EventEditor"))
                    {
                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-pill  btn-sm btn-outline-secondary" role="button">Edytuj</a>
                    }
                    else if (user != null && user.Id == Model.AddingPersonId)
                    {
                        <a asp-controller="Events" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-pill  btn-sm btn-outline-secondary" role="button">Edytuj</a>
                    }
                </div>
            </div>
        </div>
        <img class="card-img-bottom" data-src="holder.js/100px180/" alt="100%x180" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
    </div>
</div>

<br />
@section Scripts {
    <script src="~/vendor/holder.min.js"></script>
    <script>
    </script>
}