@model ZHPEvents.Core.Entities.Raport

@{
    ViewData["Title"] = "Delete";
    Layout = "_Dashboard";
}


<h5>Jesteś pewny, że chcesz usunąć ten raport?</h5>
<div>
    <h6>Usuwanie raportu o nazwie: <br />@Model.Title</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddingPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddingPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmingPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmingPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
