<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>@ViewData["Title"] - ZHPEvents</title>
    <link rel="icon" href="~/favicon.ico">

    <link href="~/coreui/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/lib/Font-Awesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/coreui/simple-line-icons.css" rel="stylesheet" />
    <link href="~/coreui/style.css" rel="stylesheet" />
    <link href="~/coreui/pace.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-hide aside-menu-lg-@ViewData["CollapseShow"]">
    <partial name="_CookieConsentPartial" />

    <header class="app-header navbar" id="top">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand text-green">
            <span class="navbar-brand-full">
                <i class="fas fa-campground"></i>&nbsp;&nbsp;
                <strong>ZHPEvents</strong>
            </span>
            <span class="navbar-brand-minimized">
                <i class="fas fa-campground"></i>
            </span>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Author") || User.IsInRole("EventEditor") || User.IsInRole("EventAuthor") || User.IsInRole("User"))
        {
            <ul class="nav navbar-nav d-md-down-none">
                <li class="nav-item px-3">
                    <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link">Dashboard - panel sterowania</a>
                </li>
            </ul>
        }
        <partial name="_LoginPartial" />

        @RenderSection("FilterMenu", required: false)


    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor") || User.IsInRole("Author") || User.IsInRole("EventEditor") || User.IsInRole("EventAuthor") || User.IsInRole("User"))
                    {
                        <li class="nav-title">Panel sterowania</li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i> Dashboard
                            </a>
                        </li>
                    }
                    <li class="nav-title">Strona</li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fas fa-calendar"></i> Wydarzenia
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Events" class="nav-link">
                                    <i class="nav-icon fas fa-calendar-alt"></i> Wszystkie
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">
                            <i class="nav-icon fas fa-info-circle"></i>
                            Informacje
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <div id="ui-view">
                @RenderBody()
            </div>
        </main>
        @RenderSection("AsideMenu", required: false)
    </div>
    <footer class="app-footer">
        <div>
            <a asp-area="" asp-controller="Home" asp-action="About">ZHPEvents</a>
            <span>© 2018</span>
        </div>
        <div class="ml-auto">
            <a href="#top" class="btn btn-sm btn-outline-dark" role="button"><i class="nav-icon fas fa-angle-up fa-2x"></i></a>
        </div>
    </footer>

    <script src="~/coreui/jquery.min.js"></script>
    <script src="~/coreui/popper.min.js"></script>
    <script src="~/coreui/bootstrap.min.js"></script>
    <script src="~/coreui/pace.min.js"></script>
    <script src="~/coreui/perfect-scrollbar.min.js"></script>
    <script src="~/coreui/coreui.min.js"></script>
    <script src="~/js/smooth-scroll.polyfills.min.js"></script>
    <script>
        $(window).on('load', function () {
            $('#exampleModal').modal('show');
        });
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
