@model ZHPEvents.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "_Dashboard";
}
<div>
    <h6>Szczegóły wydarzenia o nazwie: <br />@Model.Title</h6>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddingPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddingPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConfirmingPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConfirmingPerson)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div class="ui buttons">
    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" class="custom-control-input" id="Status" name="Status" value="false">
        <button type="submit" class="btn btn-default">&nbsp;&nbsp;&nbsp;Odrzuć wydarzenie&nbsp;&nbsp;&nbsp;</button>
    </form>
    <div class="or" data-text="lub"></div>
    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" class="custom-control-input" id="Status" name="Status" value="true">
        <button type="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp;Zatwierdź wydarzenie&nbsp;&nbsp;&nbsp;</button>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
