@model IEnumerable<ZHPEvents.Models.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "_Dashboard";

}

<h6>Spis wydarzeń</h6>
<hr />
<table class=" table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AdditionTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddingPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmingPerson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddingPerson)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConfirmingPerson)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
